.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.borderedcontainer{
  text-align: center;
  border: black;
  border-style: solid;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  
}

.pagediv{
  height: 70vh;
  width: 50vw;
  border: black;
  border-style: solid;
  margin: auto;
}

.UserData{
  
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  .UserDataTitle{
    border-bottom: 3px solid black;

  }
  .UserDataNames{
    height: 30%;
    overflow:auto;
  }
 
}

.Channels{
  height: 50%;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  .ChannelsTitle{
    border-bottom: 3px solid black;
  }
}

.Conversations{
  height: 50%;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  .ConversationsTitle{
    border-bottom: 3px solid black;

  }
}
.MessageFeedTitle{
  text-align: center;
  font-size:x-large;
  font-weight: bold;
  margin: 20px;
  text-transform: uppercase;
}

.receivedMessage{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 100px;
  .receivedMessageText{
    text-align:left;
    background-color: darkgray;
    color: black;
    max-width: 50%;
    border:darkgray; 
    border-style: solid; 
    border-radius: 5px
  }
}



.sentMessage{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
  .sentMessageText{
    text-align:left;
    justify-content: right;
    background-color:#0d6efd;
    color: white;
    max-width: 50%;
    border:#0d6efd; 
    border-style: solid; 
    border-radius: 5px;
    
  }
}
